* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 0;
}

#dashboard {
  margin-bottom: 200px;
}

@media (max-width: 600px) {
  .mobile-margin {
    margin-top: 50px;
  }
}
